[submodule "modules/circuitpython"]
	path = modules/circuitpython
	url = https://github.com/adafruit/circuitpython
[submodule "modules/Adafruit_CircuitPython_ADXL34x"]
	path = modules/Adafruit_CircuitPython_ADXL34x
	url = https://github.com/adafruit/Adafruit_CircuitPython_ADXL34x
[submodule "modules/Adafruit_CircuitPython_BusDevice"]
	path = modules/Adafruit_CircuitPython_BusDevice
	url = https://github.com/adafruit/Adafruit_CircuitPython_BusDevice
